.env

firebase-service-account.json
ideasforindians-99d93-firebase-adminsdk-fbsvc-db52cc0974.json
service-account.json
serviceAccountKey.json

*/__pycache__
*/*.pyc

.venv/

script.py
index.py
flask_api.py
hello.py
init_firebase_data.py

uv.lock


